*.suo
*.db
*.user
*.ipch
*.opendb
*.aux
*.log
Debug
Release
*.spv
*.lyx~
*.lyx#
*.blend1
*.blend2
*.pyc
*.synctex.gz
*.o
*.so
__pycache__
.idea
.vs
.vscode
data
build
build
build_windows
tools/texture_conversion/build
imgui.ini
